body{
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    margin: 0;
    padding: 15px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 15px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    clear: both;

}
.col{
    background: #333;
    color: white;
    border-radius: 5px;
    padding: 10px .5%;
    float: left;
    margin: .5%;
    width: 31%;
}
footer{
    clear: both;
}