body{
    margin: 0;
}
header{
    background: #999999;
    color: white;
    padding: 15px 15px 0 15px;
}
header h1{
    margin: 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    margin: 0;
    padding: 15px;
}
nav ul li{
    background: rgb(247, 247, 223);
    display: inline-flex;
    list-style: none;
    padding: 5px 15px;
}
.row{
    clear: both;

}
.col{
    background: #333;
    color: white;
    border-radius: 5px;
    padding: 10px .5%;
    float: left;
    margin: .5%;
    width: 31%;
}
footer{
    clear: both;
}